    $clr-text: hsl(238, 29%, 16%);
    $clr-text-active: hsl(14, 80%, 65%);
    $softBlue: hsl(248, 73%, 65%);
    $softViolet: hsl(273, 75%, 66%);
    $clr-neutral-dark: hsl(237, 12%, 33%);
    $clr-neutral-mid: hsl(240, 6%, 50%);
    $clr-neutral-light: hsl(240, 5%, 91%);
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: .75rem;
        min-height: 100vh;
        color: $clr-text;
        margin: 0;
        background: linear-gradient($softViolet, $softBlue);
        line-height: 1.5;
    }
    
    main {
        display: grid;
    }
    
    section {
        position: relative;
        background: white;
        width: 88%;
        max-width: 900px;
        margin: 12em auto;
        padding: 9em 2.25em 4em;
        border-radius: 2em;
        box-shadow: 0 5em 4em -2em #0004;
        &::before {
            content: url(images/illustration-woman-online-mobile.svg);
            position: absolute;
            top: 0;
            left: calc(50% - 1.5em);
            transform: translate(-50%, -54%);
            filter: drop-shadow(0 2.5em 1px #00a1);
        }
        @media (min-width: 925px) {
            display: flex;
            padding: 4em 8em 6em 0;
            background-color: white;
            background-image: url(images/bg-pattern-desktop.svg);
            background-repeat: no-repeat;
            background-position: left -550px top -300px;
            &::before {
                content: url(images/illustration-box-desktop.svg);
                filter: drop-shadow(0 2.5em 5px #00a3);
                left: -10%;
                top: 0;
                transform: translateY(100%);
                z-index: 2;
            }
        }
    }
    
    h1 {
        font-size: 2.6em;
        text-align: center;
        letter-spacing: 1px;
        margin: .8em 0 .25em;
        @media (min-width: 925px) {
            text-align: left;
        }
    }
    
    .accordion {
        flex-basis: 70%;
    }
    
    details {
        position: relative;
        padding: 1.25em 0em;
        border-bottom: 1px solid rgba($clr-neutral-mid, .25);
        color: $clr-neutral-mid;
        z-index: 2;
        summary {
            cursor: pointer;
            margin-top: .1em;
            font-size: 1.125em;
            color: $clr-neutral-mid;
            list-style-position: inside;
            &::-webkit-details-marker {
                display: none;
            }
            &:hover {
                color: $clr-text-active;
            }
        }
        &::after {
            position: absolute;
            content: url(images/icon-arrow-down.svg);
            pointer-events: none;
            z-index: 1;
            top: 1em;
            right: 0;
        }
        &[open] {
            summary {
                color: $clr-text;
                font-weight: 700;
                margin-bottom: .5em;
            }
        }
        &[open]::after {
            transform: rotate(180deg);
        }
    }
    
    .illustration {
        display: none;
        position: relative;
        flex-basis: 100%;
        @media (min-width: 925px) {
            overflow-x: hidden;
            display: block;
            img {
                transform: translateX(-15%);
            }
        }
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }